$primary-color: rgba(0, 0, 0, 0.9);

body {
  background-color: $primary-color;
  margin: 0;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url(../../images/pexels-photo-46274.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  //   background-position: 0 0;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 0.2s;
}
.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
.showcase:hover .content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.content {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  top: 50%;
  left: 50%;
  //   margin-top: 105px;
  //   margin-left: -145px;
  widows: 300px;
  height: 350px;
  text-align: center;
  transition: all 0.2s;
  color: #000;
}
.content .logo {
  height: 180px;
  width: 180px;
}
.content img {
  width: 180px;
}
.content .title {
  font-style: 2.2rem;
  margin-top: 1rem;
}
.content .text {
  line-height: 1.7;
  margin-top: 1rem;
}
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 2rem;
}
.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.center {
  text-align: center;
  margin: auto;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.bg-dark {
  background: #333;
  color: #f4f4f4;
}
footer {
  padding: 2.2rem;
}
footer p {
  margin: 0;
}

// media queries
@media (max-width: 560px) {
  .showcase::after {
    height: 50vh;
  }
  .content {
    top: 35%;
  }
  .content .logo {
    height: 140px;
    height: 140px;
  }
  .content .text {
    display: none;
  }
  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }
  .services div {
    border-bottom: #333 dashed 1px;
    padding: 1.2rem 1rem;
  }
}
